<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  
  <title>My First Page</title>
</head>
<body>
  <h1>to do app </h1>
 
  <div class="inputdiv">
  
  <button class ="addButton">Add</button>
  </div>

  <div id="myDIV">
  
    </div>
 <div>
  <p>rock paper scissors </p>
  </div>

  <button class = "button" >Rock</button>
  <button onclick='play("paper")'>Paper</button>
  <button onclick='play("scissors")'>Scissors</button>


<style>
     #myInput2 , .added {
      padding: 10px;
     
      
    }
  
  .mydiv  , .inputdiv{
    display:grid;
    column-gap: 10px;
    grid-template-columns: 100px 100px 70px;
    margin-bottom: 20px;
  }
 
.button {
  background-color: red; /* Green */
  border: none;
}
.addButton {
  background-color: green; /* Green */
  border :none
}

 
 </style>
   <script>
   document.body.addEventListener('keydown', function(event) {
     console.log('Key pressed:', event.key);
   });

console.log(document.querySelector('.addButton'));
   const buttons = document.querySelector('.addButton');
   buttons.addEventListener('click', function() {
     console.log('Button clicked:');
   });
   
   const array = [];
    setTimeout(() => {
      console.log("Hello, World!");
    }, 4000);
   
    function renderTodo() {
      let list = "";
      for (let i = 0; i < array.length; i++) {
        list += `
        <div class="mydiv">
        <div class ="added">${array[i].name}</div>  
         <div class="added">${array[i].dueDate}</div>  
         <button class="button" onclick="deleteElement(${i})">Delete</button>
         </div>
         `;
        
         console.log(list);
       
        
        console.log(list);
    }
     document.getElementById("myDIV").innerHTML = list;}
    function deleteElement(index) {
      array.splice(index, 1);
      renderTodo();
    
    }
    
    function addnewElement() {
      array.push({name: document.getElementById("myInput").value , dueDate: document.getElementById("myInput2").value});
      console.log(array);
      document.getElementById("myInput").value = "";
      renderTodo()
    
    }
 
      
      </script>
</body>
</html>
